body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.top-bar {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 10px 40px;
    font-size: 14px;
}


.top-bar a {
    text-decoration: none;
    color: #555;
}


.search {
    cursor: pointer;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #4b2e83;
}

.logo-img {
    height: 40px;
}

.menu a {
    margin-left: 15px;
    text-decoration: none;
    color: #555;
    font-family: note(Preguntale a guadalupe porque no se como hacerlo)
}

.hero {
    position: relative;
    height: 70;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.hero-text {
    position: relative;
    color: white;
    max-width: 600px;
    padding: 60px;
}

.hero-text h1 {
    font-size: 36px;
}

.hero-text p {
    font-size: 16px;
    margin: 20px 0;
}

/* Botones */
.buttons .btn {
    display: inline-block;
    padding: 12px 20px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
}

.donate {
    background-color: white;
    color: #4b2e83;
}

.updates {
    border: 2px solid white;
    color: white;
}